.container {
  display: flex;
  height: 91vh;
}

.content {
  flex: 1;
  overflow: auto;
}

.sidenav {
  width: 200px;
  text-align: center;
}

@media (max-width: 768px) {

  .container {
    display: flex;
    height: 91vh;
  }

  .content {
    flex: 1;
    overflow: auto;
  }

  .sidenav {
    width: 390px;
    text-align: center;
  }

  .sidenav-button{
    font-size: 20px;
  }

}
