<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()" aria-label="List icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Task Management</span>
</mat-toolbar>


<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">

    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/project_creation" routerLinkActive="active"
                ariaCurrentWhenActive="page">Projects</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Calendar</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Friends</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Configuration</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>Sign Out</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

  </mat-drawer>

  <div class="content" aria-label="Router View">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

