<mat-card class="card">
  <mat-card-header>
    <mat-card-title>My Project: Details</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <form>
      <div style="text-align: left">
        <p>This is my first project</p>
      </div>
      <div>
        <mat-form-field>
          <mat-label>2/5/2024 - 9/5/2024</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker" disabled aria-label="Select Date">
            <input matStartDate formControlName="start">
            <input matEndDate formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="primary" routerLink="/project_details"
                routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-right: 10px">Select Project</button>

        <button mat-flat-button color="warn" routerLink="/project_menu"
                routerLinkActive="active" ariaCurrentWhenActive="page">Return</button>
      </div>

    </form>
  </mat-card-actions>
</mat-card>
